doctype html
<!DOCTYPE html>
html
    head
        meta(charset='UTF-8')
        title TEST World
    body

        p get 방식
        form(action="/form_receiver" method='get')
                p
                input(type="text" name="title")
                p
                textarea(name="description")
                p
                input(type="submit")

        p post 방식
        form(action="/form_receiver" method='post')
            p
            input(type="text" name="title")
            p
            textarea(name="description")
            p
            input(type="submit")
    